/* style.css */

/* Estilo para el contenedor del párrafo */
.tooltip-container {
  position: relative;
}

/* Estilo para el span que contiene la palabra con tooltip */
.tooltip-trigger {
  position: relative;
  cursor: pointer;
  color: blue; /* Puedes cambiar el color de la palabra */
  text-decoration: underline; /* Puedes cambiar el estilo de la palabra */
}

/* Estilo para el tooltip */
.tooltip-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  max-width: 200px;
  z-index: 1;
  white-space: nowrap;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Mostrar el tooltip al pasar el cursor
