/* Estilos para el encabezado */
header {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que esté por encima del resto de contenido */
}

/* Estilos para el contenido principal */
main {
  padding-top: 60px; /* Deja espacio para el encabezado fijo */
}

/* Estilos para la barra lateral */
.sidebar {
  background-color: #f0f0f0;
  padding: 10px;
  position: fixed;
  top: 60px; /* Alineada debajo del encabezado fijo */
  right: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto; /* Scroll si es necesario */
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Estilos para el contenido principal */
.main-content {
  margin-right: 220px; /* Alinea a la izquierda de la barra lateral */
  padding: 20px;
}

/* Estilos para las características */
.features {
  padding: 20px;
}

.feature {
  background-color: #e0e0e0;
  margin-bottom: 20px;
  padding: 10px;
}

/* Estilos adicionales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
